.button {
	margin-top: 10px;
	color: #fff;
	width: 450px;
	height: 80px;
	background-color: $main-color;
	border-radius: 5px;
	border: none;
	text-align: center;
	padding: 25px;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	transition: .3s;
	text-decoration: none;
    z-index: 6;
	&:hover {
		text-decoration: none;
		background-color: $hover;
		box-shadow: 1px 1px 11px #1f0855;
	}
}

