@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import 'libs/bootstrap-reboot.min';

@import 'base/variables';
@import 'base/mixins';
@import 'base/window';
@import 'base/title';
@import 'base/button';

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

body {
	background-color: $bgc;
	font-family: 'Roboto', sans-serif;
}

.divider {
    width: 40px;
    height: 3px;
	border-radius: 10px;
    background-color: $main-color;
	margin: 5px auto 20px auto;
}

@import 'blocks/header';
@import 'blocks/main';
@import 'base/button';
@import 'blocks/tasks';
@import 'blocks/task';
@import 'blocks/usefuls';
@import 'blocks/variants';
@import 'blocks/about';
@import 'blocks/menu';
@import 'media';