.header {
	background: #251a43;
	color: white;
	display: flex;
    padding: 0 100px 0 20px;
    align-items: center;
    height: 125px;
	width: 80%;
	margin: 0 auto;
	border-radius: 20px;
	margin-top: 20px;

	&__title {
	  	text-align: center;
	  	font-size: 30px;
	  	margin-left: 20px;
	}
  
	&__navigation {
	  &-title {
		flex: 1;
		a {
		  color: #fff;
		  text-decoration: none;
			span {
			color: $main-color;
			}
		}
		svg {
			width: 280px;
			height: 90px;
		}
	  }
  
	  &-list {
		list-style: none;
		padding: 0;
		margin: 0;
	  }
  
	  &-item {
		display: inline;
		margin-right: 25px;
		text-decoration: none;
		font-size: 20px;
		color: #fff;
  
		a {
		  color: #fff;
		  text-decoration: none;
		  position: relative;
		  &:after {
			content: "";
			position: absolute;
			top: 50px;
			width: 0;
			height: 3px;
			background-color: white;
			bottom: 0;
			left: 50%;
			transition: width 0.2s ease-in-out, left 0.5s ease-in-out;
			transform: translateX(-50%);
		  }
  
		  &:hover:after {
			width: 100%;
			left: 0;
			animation: underline 1s infinite ease-in-out;
		  }

		  &:active:after {
			width: 100%;
			left: 0;
		  }
		}
	  }
	}
}
  
@keyframes underline {
	0% {
	  left: 50%;
	  transform: translateX(-50%);
	}
	20% {
	  left: 40%;
	  transform: translateX(-40%);
	}
	80% {
	  left: 60%;
	  transform: translateX(-60%);
	}
	100% {
	  left: 50%;
	  transform: translateX(-50%);
	}
}

#gir {	
    position: absolute;
    background-image:url('../../img/gir.png');
	top: 0;
	left: 0;
    height: 62px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    pointer-events: none
}  
.gir_1 {
    background-position: 0 0
}  
.gir_2 {
    background-position: 0 -62px
}  
.gir_3 {
    background-position: 0 -124px
}