.task {
	height: 100%;
	padding: 50px 0 50px 0;
	&__title {
		display: none;
	}
	&__breadcrumbs {
		width: 92%;
		padding: 15px !important;
		color: #fff;
		font-size: 16px;
		text-align: center;
		&-item {
			color: #fff;
			text-decoration: none;
			font-size: 20px;
			&:hover {
			text-decoration: underline;
			}
			margin-left: 10px;
		}
		span {
			margin-left: 10px;
		}

	}

	&__title {
		color: #fff;
		text-align: center;
	}
	&__theory {
		background-color: $window;
		border-radius: 20px;
		padding: 5px;
		margin-top: 25px;
		max-width: 1000px;
		margin: 0 auto;
		&-title {
			text-transform: none !important;
		}
		&-pdf {
			display: inline-block;
			color: #fff;
			font-size: 25px;
			text-decoration: underline;
			&:hover {
				color: #fff;
			}
		}
		&-text {
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: 20px;
		}
	}

	&__wrapper {
		padding-top: 35px;
		color: #fff;
		text-align: center;
	}

	&__content {
		margin-top: 40px !important;
		&-title {
			text-transform: none !important;
		}
		&-text {
			font-size: 20px;
			line-height: 25px;
			margin-bottom: 10px;
		}
		&-input {
			width: 300px;
			height: 47px;
			border: 2px solid $main-color;
			border-radius: 5px;
			padding: 10px;
			font-size: 16px;
			color: #fff;
			background-color: #1e1e1e;
		}
		&-btn {
			width: 250px;
			height: 47px;
			display: inline-block;
			padding: 10px 20px;
			background-color: $main-color;
			color: #fff;
			font-size: 18px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: background-color 0.3s;
			text-decoration: none;
			&:hover {
				color: #fff;
				text-decoration: none;
				background-color: $hover;
			}
		}
		&-result {
			font-size: 20px;
			margin-top: 10px;
			font-weight: 700;
		}
	}

}