.tasks {
	height: 100%;
	padding-top: 50px;
	&__title {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 25px;
		color: #fff;
		text-align: center;
		margin-bottom: 10px;
	}
	&__list {
		margin-top: 20px;
		list-style-type: none;
		padding-left: 0;
		&-item {
			margin: 0 auto;
			margin-bottom: 25px;
			a {
				margin: 0 auto;
				text-align: center;
				text-decoration: none;
				display: block;
				background-color: $main-color;
				width: 70%;
				color: #fff;
				padding: 13px 20px;
				border-radius: 5px;
				font-weight: bold;
				transition: transform 0.2s;
			}
			a:hover {
				background-color: $hover;
				transform: translateY(-2px);
			}
		}
	}
}